.header {
    background-color: $blue;
    padding: 12px 0;
}

.container-header-wrap {
    display: flex;
    justify-content: space-between;
}

.header-social-link {
    margin-right: 21px;
}

.header-social-mail {
    text-decoration: none;
    color: $white;
    font-size: 12px;
    line-height: 14px;
}