* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}

body {
    min-height: 100vh;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: content-box;
}